<div class="table-responsive">
  <table id="track-table" class="table-bordered side-bar">
    <thead>
      <th>title</th><th>artist</th><th>album</th><th>genre</th>
    </thead>
    <%= render auth_current_user.tracks %>
  </table>
</div>
